<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="hcr3a_srdf">

    <group name="manipulator">
        <chain base_link="real_base_link" tip_link="tool0" />
        <joint name="joint_1"/>
        <joint name="joint_2"/>
        <joint name="joint_3"/>
        <joint name="joint_4"/>
        <joint name="joint_5"/>
        <joint name="joint_6"/>
        <link name="camera_Link" />
        <link name="forcesensor_Link" />                    
    </group>
    
    <group name="gripper">
      <link name="effector_Link" />
      <link name="finger1_Link" />
      <link name="finger2_Link" />
      <joint name="finger1" />
      <joint name="finger2" />
    </group>
    
    <group_state group="gripper" name="open">
      <joint name="finger1" value="0"/>
      <joint name="finger2" value="0"/>
    </group_state>
    <group_state group="gripper" name="close">
      <joint name="finger1" value="0.025"/>
      <joint name="finger2" value="-0.025"/>
    </group_state>

    <end_effector group="gripper" name="gripper" parent_group="manipulator" parent_link="forcesensor_Link"/>

    <!--VIRTUAL JOINT: Purpose: this element defines a virtual joint between a robot link and an external frame of reference (considered fixed with respect to the robot)-->
    <virtual_joint name="world_joint" type="fixed" parent_frame="world" child_link="base_link" />
    <!--DISABLE COLLISIONS: By default it is assumed that any link of the robot could potentially come into collision with any other link in the robot. This tag disables collision checking between a specified pair of links. -->
    <disable_collisions link1="real_base_link" link2="link_1" reason="Adjacent" />
    <disable_collisions link1="link_1" link2="link_2" reason="Adjacent" />
    <disable_collisions link1="link_2" link2="link_3" reason="Adjacent" />
    <disable_collisions link1="link_3" link2="link_4" reason="Adjacent" />
    <disable_collisions link1="link_4" link2="link_5" reason="Adjacent" />
    <disable_collisions link1="link_5" link2="link_6" reason="Adjacent" />    
    <disable_collisions link1="link_6" link2="camera_Link" reason="Adjacent" />  
    <disable_collisions link1="link_6" link2="forcesensor_Link" reason="Adjacent" />
    <disable_collisions link1="link_6" link2="effector_Link" reason="Adjacent" />
    <disable_collisions link1="link_6" link2="finger1_Link" reason="Adjacent" />
    <disable_collisions link1="link_6" link2="finger2_Link" reason="Adjacent" />
    <disable_collisions link1="effector_Link" link2="finger1_Link" reason="Adjacent" />
    <disable_collisions link1="effector_Link" link2="finger2_Link" reason="Adjacent" />
    <disable_collisions link1="forcesensor_Link" link2="effector_Link" reason="Adjacent" />
    <disable_collisions link1="forcesensor_Link" link2="camera_Link" reason="Adjacent" />
    <disable_collisions link1="finger1_Link" link2="finger2_Link" reason="Default" />
    <disable_collisions link1="camera_Link" link2="camera_link" reason="Adjacent" />
  </xacro:macro>

</robot>
