<?xml version="1.0"?>
<robot name="hcr3a" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="use_fake_hardware" default="true"/>
  <xacro:property name="use_fake_hardware" value="$(arg use_fake_hardware)"/>
  <xacro:arg name="use_ft" default="false"/>
  <xacro:property name="use_ft" value="$(arg use_ft)"/>
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <xacro:include filename="$(find hcr3a)/urdf/hcr3a_macro.xacro"/>
  <xacro:hcr3a prefix=""/>

  <xacro:include filename="$(find hcr3a)/urdf/hcr3a_gz.ros2_control.xacro" />
  <xacro:hcr_ros2_control prefix="" />
  <xacro:include filename="$(find hcr3a)/urdf/hcr3a_gz_gripper.ros2_control.xacro" />
  <xacro:gripper_ros2_control prefix=""/>
  <xacro:include filename="$(find hcr3a)/urdf/gz_ft_sensor.ros2_control.xacro" />
  <xacro:ft_sensor_ros2_control prefix=""/>
  <!-- Camera d415 -->
<joint name="camera_joint" type="fixed">
  <origin xyz="0 0 0" rpy="${M_PI} 0 ${-M_PI/2}"/>
  <parent link="camera_Link"/>
  <child link="camera_frame"/>
</joint>
<link name="camera_frame">
</link>

<gazebo reference="camera_frame">
  <sensor name="camera" type="camera">
    <ignition_frame_id>camera_frame</ignition_frame_id>
    <optical_frame_id>camera_frame</optical_frame_id>
    <camera>
      <horizontal_fov>1.20427718</horizontal_fov>
      <image>
        <width>1920</width>
        <height>1080</height>
        <format>RGB_INT8</format>
      </image>
      <camera_info_topic>camera/camera_info</camera_info_topic>
      <clip>
        <near>0.1</near>
        <far>100</far>
      </clip>
    </camera>
    <always_on>1</always_on>
    <update_rate>10</update_rate>
    <visualize>false</visualize>
    <topic>camera/image_raw</topic>
    <enable_metrics>true</enable_metrics>
  </sensor>
</gazebo>

<!-- RGBD CAMERA -->
<joint name="rgbd_camera_joint" type="fixed">
  <origin xyz="0 0 0" rpy="${M_PI} 0 ${-M_PI/2}"/>
  <parent link="camera_Link"/>
  <child link="rgbd_camera_frame"/>
</joint>
<link name="rgbd_camera_frame">
</link>

<gazebo reference="rgbd_camera_frame">
  <sensor name="rgbd_camera" type="rgbd_camera">
    <ignition_frame_id>rgbd_camera_frame</ignition_frame_id>
    <camera name="rgbd_camera_frame">
      <horizontal_fov>1.3962634</horizontal_fov>
      <image>
        <width>1280</width>
        <height>720</height>
        <format>L8</format>
      </image>
      <clip>
        <near>0.01</near>
        <far>300</far>
      </clip>
      <depth_camera>
        <clip>
          <near>0.1</near>
          <far>10</far>
        </clip>
      </depth_camera>
      <noise>
        <type>gaussian</type>
        <mean>0</mean>
        <stddev>0.003</stddev>
      </noise>
    </camera>
    <always_on>1</always_on>
    <update_rate>10</update_rate>
    <visualize>0</visualize>
    <topic>depth_camera</topic>
  </sensor>
</gazebo>

  <!-- parameters -->
  <xacro:arg name="simulation_controllers" default="" />
  <xacro:arg name="ros_namespace" default="" />

  <!-- create link fixed to the "world" -->
  <link name="world" />

  <link name="ground_plane">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="5 5 0"/>
      </geometry>
      <material name="ground_white">
        <color rgba="1 1 1 0.5"/>
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="5 5 0"/>
      </geometry>
    </collision>
  </link>

  <joint name="ground_plane_joint" type="fixed">
    <origin xyz="0 0 -0.01" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="ground_plane"/>
  </joint>

  <!-- base_joint fixes base_link to the environment -->
  <joint name="base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <gazebo reference="world">
  </gazebo>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
      <ros>
        <namespace>$(arg ros_namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>

</robot>
