<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="hcr_ros2_control" params="prefix">
    <ros2_control name="hcr3a" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>
      <joint name="${prefix}joint_1">
        <command_interface name="position">
          <param name="min">-6.2832</param>
          <param name="max">6.2832</param>
        </command_interface>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_2">
        <command_interface name="position">
          <param name="min">-6.2832</param>
          <param name="max">6.2832</param>
        </command_interface>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>        
        <state_interface name="position">
          <param name="initial_value">-1.5708</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_3">
        <command_interface name="position">
          <param name="min">-2.7925</param>
          <param name="max">2.7925</param>
        </command_interface>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>           
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_4">
        <command_interface name="position">
          <param name="min">-6.2832</param>
          <param name="max">6.2832</param>        
        </command_interface>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>    
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_5">
        <command_interface name="position">
          <param name="min">-6.2832</param>
          <param name="max">6.2832</param>        
        </command_interface>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>    
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <joint name="${prefix}joint_6">
        <command_interface name="position">
          <param name="min">-1.5708</param>
          <param name="max">1.5708</param>  
        </command_interface>
        <command_interface name="velocity"/>
        <command_interface name="effort"/>    
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="effort">
          <param name="initial_value">0.0</param>
        </state_interface>
      </joint>
      <gpio name="${prefix}IOs">
        <command_interface name="D0"/>
        <state_interface name="D0"/>
        <command_interface name="D1"/>
        <state_interface name="D1"/>
        <command_interface name="D2"/>
        <state_interface name="D2"/>
        <command_interface name="D3"/>
        <state_interface name="D3"/>
        <command_interface name="D4"/>
        <state_interface name="D4"/>
        <command_interface name="D5"/>
        <state_interface name="D5"/>
        <command_interface name="D6"/>
        <state_interface name="D6"/>
        <command_interface name="D7"/>
        <state_interface name="D7"/>
      </gpio>

    </ros2_control>
  </xacro:macro>

</robot>

